{
  "user": "root",
  "host": "localhost",
  "passwd": "***",
  "name": "ontolex",
  "language": "nl",
  "transativeSenseIdentifiers": [
    "urn:uuid:ce22336b-dbd3-46bc-99eb-33601c61cd4d",
    "urn:uuid:fdc89b9d-f5e2-4642-8937-f2eade1fdd7f"
  ]
}
