{
  "user": "root",
  "host": "localhost",
  "passwd": "***",
  "name": "ontolex",
  "language": "nl",
  "export": {
    "creator": "Wim Muskee",
    "license": "https://creativecommons.org/publicdomain/zero/1.0/",
    "persist_base": "/tmp" },
  "worddb": { "type": "file", "name": "/tmp/keywords.txt" }
}
